<div class="container d-flex justify-content-center align-items-center col-md-10 mt-5">
    <div class="row justify-content-md-center col-md-10">
        <div class=" col-md-10 card-header bg-dark text-white d-flex ">
            Add new flight
        </div>
        <div class=" card col-md-10 ">
            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        Departure date
                        <input type="date" name="flight.departure_date" [(ngModel)]="flight.departure_date"
                            placeholder="date: medium " class="form-control" autofocus>
                    </div>

                    <div class="form-group">
                        Arrival Date
                        <input type="date" name="flight.arrival_date" [(ngModel)]="flight.arrival_date"
                            placeholder="DD-MM-YYYY HH:MM" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        Number of seats
                        <input type="number" name="flight.number_of_seats" [(ngModel)]="flight.number_of_seats"
                            class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        Ticket price
                        <input type="number" name="flight.ticket_price" [(ngModel)]="flight.ticket_price"
                            class="form-control" autofocus>
                    </div>
                    <button class="btn btn-success btn-block" (click)="edit ? updateFlight() : saveNewFlight()">
                        SAVE
                    </button>

                    <ng-template #customLoadingTemplate>
                        <h3>
                            Please wait...
                        </h3>
                    </ng-template>


                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
                
                </div>
            </div>
        </div>
    </div>