<div class="container d-flex justify-content-center align-items-center col-sm-12 pt-5">
    <div class="row justify-content-md-center  col-sm-12">
        <div class=" col-sm-12 card-header bg-dark text-white d-flex ">
            List of flight
        </div>
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-body">
                    <div class= "table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Departure date:</th>
                                <th scope="col">Arrival date:</th>
                                <th scope="col">Number of seats:</th>
                                <th scope="col">Ticket price:</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let flights of flight'>
                            <tr>
                                <td scope="col">{{flights.departure_date | date:'medium'}}</td>
                                <td scope="col">{{flights.arrival_date | date:'medium'}}</td>
                                <td scope="col">{{flights.number_of_seats}}</td>
                                <td scope="col">{{flights.ticket_price}}</td>
                                <td scope="col">
                                    <button class="btn btn-success mr-1" [routerLink]="['edit/', flights.id_flight]">
                                        EDIT
                                    </button>
                                    <button class="btn btn-danger" (click)="deleteFlight(flights.id_flight)">
                                        DELETE
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>