<div class="container d-flex justify-content-center align-items-center col-sm-12 pt-5">
  <div class="row justify-content-md-center  col-sm-12">
      <div class=" col-sm-12 card-header bg-dark text-white d-flex ">
      List of tourists
    </div>
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Gender</th>
                <th scope="col">Country</th>
                <th scope="col-4">Remarks:</th>
                <th scope="col">Date of birth:</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor='let tourists of touristt'>
              <tr>
                <td scope="col">{{tourists.first_name}}</td>
                <td scope="col">{{tourists.last_name}}</td>
                <td scope="col">{{tourists.gender}}</td>
                <td scope="col">{{tourists.country}}</td>
                <td scope="col-4">{{tourists.remarks}}</td>
                <td scope="col">{{tourists.date_of_birth | date  }}</td>
                <td scope="col">
                  <button class="btn btn-success mr-1" [routerLink]="['editTourist/', tourists.id_tourist]">
                    EDIT
                  </button>
                  <button class="btn btn-danger" (click)="deleteTourist(tourists.id_tourist)">
                    DELETE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>