<div class="container d-flex justify-content-center align-items-center col-sm-12">
    <div class="row justify-content-md-center  col-sm-12 mt-5">
        <div class=" col-sm-12 card-header bg-dark text-white d-flex ">
            Information of flight
        </div>
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Departure date</th>
                                <th scope="col">Arrival date</th>
                                <th scope="col">Number of seats</th>
                                <th scope="col">Ticket price</th>

                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Country</th>
                                <th scope="col">Date of birth</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let connects of connections, let i=index">
                                <tr>
                                <td>{{connects.departure_date | date:'dd-MM-yyyy' }}</td>
                                <td>{{connects.arrival_date | date:'dd-MM-yyyy' }}</td>
                                <td>{{connects.number_of_seats}}</td>
                                <td>{{connects.ticket_price}}</td>

                                <td>{{connects.first_name}}</td>
                                <td>{{connects.last_name}}</td>
                                <td>{{connects.gender}}</td>
                                <td>{{connects.country}}</td>
                                <td>{{connects.date_of_birth | date:'dd-MM-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-danger" (click)="deleteConnection(connects.id_connections)">
                                        DELETE
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>