<div class="container d-flex justify-content-left align-items-left col-sm-12 mb-10">
    <div class="row justify-content-md-center  col-md-6 mt-5">
        <div class=" col-md-10 card-header bg-dark text-white d-flex ">
            Give name and surname
        </div>
        <div class=" card col-md-10 ">
            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        Name
                        <input type="text" name="first_name" [(ngModel)]="tourist.first_name" 
                             class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        Last name
                        <input type="text" name="last_name" [(ngModel)]="tourist.last_name"
                             class="form-control"
                            autofocus>
                    </div>
                </div>
                <button class="btn btn-success btn-block"
                    (click)="getTouristName(tourist.first_name, tourist.last_name)">
                    Search
                </button>
            </div>
        </div>
    </div>

    <section *ngIf="show">
        <div class="row justify-content-right  col-sm-12 mt-5">
            <div class=" col-sm-12 card-header bg-dark text-white d-flex ">
                Your data
            </div>
            <div class="card text-left col-sm-12">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Country</th>
                                <th scope="col">Remarks:</th>
                                <th scope="col">Date of birth:</th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let tourists of tourist'>
                            <tr>
                                <td>{{tourists.first_name}}</td>
                                <td>{{tourists.last_name}}</td>
                                <td>{{tourists.gender}}</td>
                                <td>{{tourists.country}}</td>
                                <td>{{tourists.remarks}}</td>
                                <td>{{tourists.date_of_birth | date  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container d-flex justify-content-left align-items-left col-sm-10 mb-10">
    <div class="row justify-content-md-center align-items-center col-sm-12 mt-5 mb-10">
        <div class=" col-sm-12 card-header bg-dark text-white d-flex ">
            Your book flight
        </div>
        <div class="col-sm-12 card text-center">
        <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Departure date:</th>
                            <th scope="col">Arrival date:</th>
                            <th scope="col">Number of seats:</th>
                            <th scope="col">Ticket price:</th>
                        </tr>
                    </thead>
                    <tbody *ngFor='let flights of flight'>
                        <tr>
                            <td>{{flights.departure_date | date:'medium'}}</td>
                            <td>{{flights.arrival_date | date:'medium'}}</td>
                            <td>{{flights.number_of_seats}}</td>
                            <td>{{flights.ticket_price}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success btn-block" (click)="bookReservation()">
                    SAVE
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #customLoadingTemplate>
    <h3>
        Please wait...
    </h3>
</ng-template>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>